{
  "presets": [
      [
          "@babel/preset-env", 
          {
              "targets": {
                  "chrome": "58", 
                  "firefox": "54", 
                  "safari": "11", 
                  "edge": "16", 
                  "node": "10"
              }
          }
      ]
  ]
}